<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="shortcut icon" href="~/img/iconnew.png" type="image/png">
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="wrapper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mynav mb-3">
            <div class="container">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <a class="navbar-brand" style="margin-right:60px" href="/">
                    <img src="~/img/sleep.png" class="catt" />
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item back">
                            <a class="words nav-link text-dark" asp-area="" asp-controller="Cats" asp-action="Index">Котики</a>
                        </li>
                        <li class="nav-item back">
                            <a class="words nav-link text-dark" asp-area="" asp-controller="Species" asp-action="Index">Породи</a>
                        </li>
                        <li class="nav-item back">
                            <a class="words nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Карта</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    </div>


    <footer class="border-top footer text-muted" style="z-index: 1">
        <div class="container">
            &copy; 2020 - Cats
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
        </div>
</body>
</html>
