@model IEnumerable<Web_Lab1_Cats.Cats>

@{
    ViewData["Title"] = " ";
}

<h1 style="margin-left: 12%">Котики</h1>

<p>
    <a asp-action="Create" style="margin-left: 12%">Create New</a>
</p>
<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="height:350px; width: 30%; border: none">
                <div class="fom2">
                    <a>
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.Photo)" class="img22" />

                    <input type="button" class="butt" value="Детальніше > " onclick="location.href='@Url.Action("Details")'" />
                    <br />
                    <a>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </a>
                </div>
               
                
            </td>
        </tr>
}
    </tbody>
</table>
